body{ 
    margin : 0; 
    padding : 0;
}

.container{
    width: 1024px;
    margin: 0 auto;
    font-family: "Open Sans", Arial, "Helvetica Neue", sans-serif;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-999;
}
                
header{
    width: 100%;
    position: absolute;
}

header article{
    width: 750px;
    height: 70px;
    margin: 0 auto;
    margin-top: 30px;
}


#logo{
    margin: 0px 170px 0 30px;
    width: 20%;
    float: left;
}

nav{
    margin-top: 5px;
    float: left;
    position: relative;
}

nav a{
    position: relative;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px 22px;
    margin: 0 7px;
    font-family: abel;
}

nav a:hover,
nav a:active{
    color: #135c9b;
    -webkit-transition: color .3s ease-in;
       -moz-transition: color .3s ease-in;
            transition: color .3s ease-in;
}

/**********  APPEND  **********/

.f-nav  { 
    z-index: 9999; 
    height: 50px;
    position: fixed;
	background: #fbfbfb;
   	border-bottom: 7px solid #274e64;
}

#botao-inicio{ display: none;}

.f-nav #botao-inicio{ display: inline;}

.f-nav article{
    margin-top: 5px;
    width: 480px;
}

.f-nav #logo{
	display:none;
}


.f-nav a{
    padding:13px 22px;
    color: #274e64;
    border-bottom: 7px solid transparent;
}

.f-nav a:hover,
.f-nav a:active,
.f-nav a:focus{
    border-bottom: 7px solid #299fd3;
    -webkit-transition: background .3s ease-in;
       -moz-transition: background .3s ease-in;
         -o-transition: background .3s ease-in;
            transition: background .3s ease-in;
    
}
.f-nav:hover{
    background: #ffffff;
   	transition: background .4s ease-in-out;	
}

/******Inicio*******/

#inicio{
    text-align: center;
    color: #ffffff;
    width: 924px;
    height: 700px;
}

#inicio article{
	width:700px;
	height:100px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-80px;
	margin-left:-350px;
    font-family: "Helvetica Neue", sans-serif;
}

#inicio h1{
    font-size:2.9em;
    padding: 10px 0;
    background: rgba(65, 65, 65, 0.42);
}

#inicio h3{
    width: 500px;
    margin: 0 auto;
    margin-top: -26px;
    padding: 10px 0;
    background: rgba(65, 65, 65, 0.42);
}


/***********     SOBRE        *************/


#sobre{
    padding: 20px 0;
    background-image: url('../imagens/bright_squares.png');
    height: 500px;

    -webkit-box-shadow: inset 0px 0px 28px -1px #d3d3d3;
       -moz-box-shadow: inset 0px 0px 28px -1px #d3d3d3;
         -o-box-shadow: inset 0px 0px 28px -1px #d3d3d3;    
            box-shadow: inset 0px 0px 28px -1px #d3d3d3;
}

#sobre article{
    width: 984px;
    margin: 0 auto;
    color: #2f2f2f;
}

#sobre h1,
#portfolio h1,
#contato h1{
    font-size: 2em;
    border-left: 9px solid #2e6e9d;
    padding-left: 10px;
}

.sobre1{
    width: 600px;
    margin: 50px 50px 0 30px;
    float: left;
    text-align:justify;
}

.botoes{ 
    text-align: center;
}

#foto{
    width: 130px;
    float: left;
    margin: 0 35px 20px 15px;
}

#sobre2{
    float: left;
    height: 100%;
    width: 300px;
}

/**********   portfolio   ***********/


#portfolio{
    padding: 70px 0;
    background: url('../imagens/bright_squares.png');
    margin: 170px 0 20px 0;
    color: #2f2f2f;
    
    -webkit-box-shadow: inset 0px 0px 28px -1px #d3d3d3;
       -moz-box-shadow: inset 0px 0px 28px -1px #d3d3d3;
            box-shadow: inset 0px 0px 28px -1px #d3d3d3;
}

#portfolio article{
    margin: 0 auto;
}

#portfolio h1{ 
    width: 924px; 
    margin: 0 auto;
    margin-bottom: 50px;
}

/***************   IMAGENS portfolio   *****************/

.grid {
	width: 1024px;
	margin: 0 auto;
}

.grid div {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-left:40px;
	text-align: left;
    float: left;
}

.grid figure {
    width: 100%;
	margin: 0;
    padding: 0;
	position: relative;
}

.grid figure img {
	width: 350px;
    width: 100%;
}

.grid figcaption {
	position: absolute;
    width: 100%;
	top: 0;
	left: 0;
	padding: 20px 20px 20px 30px;
	background: #083250;
	color: #ffffff;
    font-size: 13px;
}

.grid figcaption h3 {
	margin: 0;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
    margin-right: 100px;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	border: 5px solid #fff;
	color: #fff;
    font-size: 1.1em;
    text-decoration: none;
}
.grid figcaption a:hover,
.grid figcaption a:active{
    background: #497b9a;
	border: 5px solid #fff;
	color: #fff;
    transition: background .2s ease-in-out;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 45px;
	top: auto;
	bottom: 0;
	opacity: 0;
    
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
    
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
    width: 150px;
    padding: 8px;
	position: absolute;
	bottom: 25px;
	right: -20px;
}



/****************    CONTATO     ******************/



#contato{
    background: none;
    padding: 30px 0 100px 0;
    margin: 0;
}

#contato article{
    width: 924px;
    margin: 0 auto;
}

#contato h1{ 
    color: #fdfdfd;
}

#contact-wrapper{
	width:450px;
	margin-right:auto;
	margin-left:auto;
	text-align:center
}


/**************   FORMULÁRIO   ****************/

form textarea{
    width:400px;
    margin-bottom: 25px;
    height:180px;
    display:block;
    overflow:auto;
    border:3px solid #f7f7f7;
    background:#FFF;
    padding-left:13px;
    padding-right:13px;
    font-size:18px;
    padding-top:13px;
    font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    color:#3e3e3e;
    border-radius:4px;
    
    -moz-border-radius: 4px;
       -moz-box-shadow: inset 0 0 3px #EEF5F7;
    -webkit-box-shadow: inset 0 0 3px #EEF5F7;

    -webkit-transition:.2s ease-in-out;
       -moz-transition:.2s ease-in-out;
         -o-transition:.2s ease-in-out;
         transition:.2s ease-in-out;    
}

form textarea:focus{
	border:3px solid #266177;
    -webkit-border-radius:4px;
    -moz-border-radius:4px
}

form {
    margin-top: 50px;
    height:252px;
}

input,textarea{
    outline:none;
}

form input{
    height:30px;
    width:350px;
    margin:0 0 21px 0;
    font-size:18px;
    background:#FFF;
    border:3px solid #f7f7f7;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -moz-box-shadow: inset 0 0 3px #EEF5F7;
    -webkit-box-shadow:inset 0 0 3px #EEF5F7;
    padding-left:13px;
    padding-right:13px;
    color:#3e3e3e;
    font-family:'Open Sans',"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    -webkit-transition:.2s ease-in-out;
    -moz-transition:.2s ease-in-out;
    -o-transition:.2s ease-in-out;
    transition:.2s ease-in-out;
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    color:#3e3e3e
}

form input:focus{
	border:3px solid #266177;
	-webkit-border-radius:4px;
	-moz-border-radius:4px
}


form input.submit-button{
	float:left;
	width:430px;
	height:45px;
	color:#FFF;
	border:none;
    background: #266177;
}

form input.submit-button:hover{
	width:430px;
	height:45px;
	color:#FFF;
	border:none;
    background: #1780a7;
    cursor:pointer;
}

#form-left{
    width: 30px;
    float: left;
    margin-left: 30px;
}

#form-right{
    float: right;
    margin-right: 30px;
}

.solicite{
    margin-top: 0px;
    font-size: 1.2em;
    padding: 20px 10px;
    text-align: center;
    width: 350px;
    border-radius: 7px;
    border: 5px solid #266177;
    color: #272727;
}


/*****************    FOOTER    *******************/

footer{
    background: url("../imagens/bright_squares.png");
    text-align:center;
    color: #fff;
    padding: 18px 0;
    color: #505050;
    font-size: 12px;
}

footer img{
    margin: 10px;
    width: 3%;
    border:none;
}

.clear{ 
    clear:both;
}