@import './../../static/sass/utils/_variables';
@import './../../static/sass/utils/_mixins';

.projects {
  background-color: $background-color-grey;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects__item {
  font-size: $base-font-size;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;s

  &__type { margin: 0; }

  > img { width: 100%; }

  @include sm {
    flex: 0 0 45%;
  }

  @include lg {
    flex: 0 0 30%;
  }
}
