main {
  position: relative;
  margin: -63px 0 0;
  padding-top: 63px;
  min-height: calc(100% - (100px + 33px)); //sticky footer (63px == footer's height, 94px header's height)
}

.section, .footer { @extend .container; }

.section{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section__title{
  margin-top: 0;
  margin-bottom: 2.5rem;
  text-align: center;
}

.footer {
  background-color: $background-color-grey;
  text-align: center;
  padding: 15px 0;
}

.card {
  padding: 40px 30px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
