<section class="section home">
  <div class="home__dialog">
    <h1 class="home__title">Gabriel Lima</h1>
    <h2 class="h4 home__subtitle">Web Developer</h2>
  </div>
</section>

<section class="section about">
  <h2 class="section__title">About</h2>

  <div class="about__description">
    <img src="img/gabrielima.jpg" alt="Gabriel Lima" class="about__picture">

    <p>
      A computer science student with 5+ years of experience in web development 
      and computer programming with problem solving skills. Former researcher at 
      the PixelLab - Computer Vision Laboratory - and member of the Advanced 
      Programming Techniques Team of the Federal University of Goias. Finalist 
      at the Brazilian ACM Programming Contest of 2013. Exchange program at Temple 
      University, Philadelphia - PA. Experience as a web developer at a startup in 
      the silicon valley.
    </p>

    <a href="resume.pdf" class="btn about__resume">Resume</a>
  </div>
</section>

<section class="section projects--home">
  <h2 class="section__title">Latest Projects</h2>

  <div class="projects--home__wrapper">
    <a ng-repeat="p in $ctrl.projects | limitTo: 5"
       ng-href="{{ p.link }}"
       class="projects--home__item"
       ng-style="{ backgroundImage: 'url(\'' + p.image + '\')' }">
      <h4>{{ p.name }}</h4>
    </a>

    <a href="#/projects" class="projects--home__all">
      <span>All Projects +</span>
    </a>
  </div>
</section>

<section class="section skills">
  <h2 class="section__title">Skills</h2>

  <ul class="skills__list">
    <li class="skill">HTML5</li>
    <li class="skill">CSS3</li>
    <li class="skill">Javascript</li>
    <li class="skill">AngularJS / Angular</li>
    <li class="skill">Typescript</li>
    <li class="skill">JQuery</li>
    <li class="skill">SASS/LESS</li>
    <li class="skill">NodeJS</li>
    <li class="skill">PHP</li>
    <li class="skill">Firebase</li>
    <li class="skill">MySQL</li>
    <li class="skill">Gulp</li>
    <li class="skill">Git</li>
    <li class="skill">C/C++ STL</li>
    <li class="skill">Adobe Photoshop</li>
  </ul>
</section>

<section class="section posts--home">
  <h2 class="section__title">Latest Posts</h2>
  <div class="posts--home__wrapper">
    <a
      href="#"
      ng-repeat="p in $ctrl.posts"
      ng-href="#/post/{{ p.slug }}"
      class="posts--home__item">
      <p>{{ p.title }}</p>
      <time>{{ p.datetime | date: 'MMMM d, yyyy' }}</time>
    </a>
  </div>

  <a href="#/blog" class="btn posts--home__all">All Posts +</a>
</section>

<section class="section contact" id="contact">
  <h2 class="section__title">Contact</h2>

 <!--  <form class="contact__form" ng-submit="formSubmit()">
    <div>
      <label for="name">Name</label>
      <input
        class="contact__input"
        type="text"
        name="name"
        ng-model="$ctrl.formData.name" >

      <label for="email">Email</label>
      <input
        class="contact__input"
        type="email"
        name="email"
        ng-model="$ctrl.formData.email" >

      <label for="subject">Subject</label>
      <input
        class="contact__input"
        type="text"
        name="subject"
        ng-model="$ctrl.formData.subject" >
    </div>

    <div>
      <label for="message">Message</label>
      <textarea
        class="contact__input contact__textarea"
        name="message"
        ng-model="$ctrl.formData.message"></textarea>

      <span
        ng-class="$ctrl.formData.form_status ? 'contact__success' : 'contact__error'">
        {{ $ctrl.formData.form_message }}
      </span>

      <button
        type="submit"
        class="btn contact__submit">Send</button>
    </div>
  </form> -->

  <a
    href="mailto:rabeloglr@gmail.com"
    class="btn contact__email">
    rabeloglr@gmail.com
  </a>
</section>
