@import './../../../../static/sass/utils/variables';
@import './../../../../static/sass/utils/mixins';

.projects--home { margin-bottom: 70px; }
.projects--home__wrapper { font-size: 0; }

.projects--home__item,
.projects--home__all {
  font-size: 18px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 270px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-size: 100% 100%;

  @include sm{ width: 50%; };
  @include lg{ width: 25%; };
  @include inline-block-top;

  > h4 {
    opacity: 0;
    margin: 0;
    transition: all .4s ease;
    z-index: $index9;
    padding: 0 20px;
    @include vertical-align-element;
  }
}

.projects--home__item {
  &:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: $index6;
    top:0;
    left:0;
    opacity: .4;
    background: linear-gradient(to bottom, #fff 0%, #fff 50%,
      $primary-color 51%, $primary-color 100%);
    background-size: 100% 230%;
    background-position: center top;
    transition: all .4s ease;
  }

  &:hover {
    > h4 { opacity: 1; }
    &:after{
      opacity: .7;
      background-position: center bottom;
    }
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7) {
    display: none;
  }

  @include sm {
    &:nth-child(4),
    &:nth-child(5) {
      display: inline-block;
    }
  }

  @include lg {
    &:nth-child(6),
    &:nth-child(7) {
      display: inline-block;
    }
  }
}

.projects--home__all{
  background-color: $primary-color;
  transition: .45s;

  > span{
    display: block;
    z-index: $index9;
    @include vertical-align-element;
  }

  &:hover { background-color: darken($primary-color, 20%); }
}
